image {
    width:"20px";
    height: "40px";
}
header:first-child {
    background-color:rgb(255, 140, 0);
}
h1 {
    border: solid orangered 1.5px;
    text-align: center;
    font-style:italic;
    padding: 1px;
}
header ul {
    border: solid goldenrod;
    text-align: center;
}
a:link {
    color: black;
}
a:hover {
    color:whitesmoke;
}
body {
    background-image: url("./pictures/scales.jpg");
    text-align: center;
}
button {
    height: 30px;
    transition: height ease-in .20s;
}
button:hover {
    height: 40px;
    transition: height ease-out .20s;
}

